body{
    
    background: #000;
}

h1{
    color: #b9d08b;
}

p {
    line-height: 1.5;
}

a:link:hover{
    color: orange;
}

ul{
    list-style: none;
}

/*==============ヘッダー==============*/
header {
    background-color: silver;
    border-bottom: solid 1px silver;
    margin: 0 0 30px 0;
}

/*==============アーティクル===============*/
article {
    width:900px;
    margin:0 auto;
    color:rgb(134, 134, 134);
    /*border: solid 1px #fff;*/
    background-color: #aaa;
    margin: 0 auto;
}

/*===============フッター==============*/