body{
    
    background: #000;
}

h1{
    color: #b9d08b;
}

a:link:hover{
    color: orange;
}

ul{
    list-style: none;
}

/*==============ヘッダー==============*/
header {

}

/*==============アーティクル===============*/
article {
    width:900px;
    margin:0 auto;
    color:rgb(134, 134, 134);
    /*border: solid 1px #fff;*/
    background-color: #fff;
    margin: 0 auto;
}

/*===============フッター==============*/